.navbar-item-custom, .navbar-item-custom a {
    color: white;
    text-decoration: none;
}
.footer-custom{
    text-align: center;
    /*position: fixed;
    padding-top: 25px;
    bottom: 0;
    */
    width: 100%;
    background-color:#fbf0d2;

}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: 10px;
}

.product-item{
    margin-top: 15px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price{
    font-size: 14px;
    font-weight: bold;
}

.product-container{
    margin-bottom: 150px;
}

#barre_principal{
    background-color:#fbf0d2;
}
.barre{
    color: #A14000;
    border-radius: 1em;
}

.barre:hover, .barre:focus, .barre:active{
    background-color:rgb(228, 200, 160);
    color: #FAF4F2;
    border-radius: .75em;
}

body{
    background-color:#FAF4F2;
}

.product-page-price{
    font-size: 19px;
}

.cart-icon{
    color: burlywood;
    height: 20px;

}

@media (min-width:767px) {
    .cart-icon {
        padding-left: 20px;
    }
    .register-button{
        background:rgb(228, 200, 160);
        border-radius: 20px;
    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='burlywood' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.action-button:hover {
    background:burlywood;
}



.block-small{
    max-width: 600px;
    margin: 0 auto;
}

.form-check{
    background-color: white;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}

.order-summary{
    background-color: white;
    padding: 20px;
    margin-top: 8px;
}

/*-------------------------------------------- Code CSS de /compte -------------------------------------*/

.account-item {
    background-color: #FFFFFF;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
    text-decoration: none;
}
.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}

/*------------------------------------------------- Fin compte --------------------------------------*/



/*  --------------------------------------------- Code CSS du footer ------------------------------------------------ */
.mon-footer {
    padding:50px 0;
    color: #000000;
    background-color: #fbf0d2;
    margin-top: 40px;
}

.mon-footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.mon-footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.mon-footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.mon-footer ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .mon-footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.mon-footer .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.mon-footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.mon-footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .mon-footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}
.mon-footer .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color: #ffffffe8;
    background-color: burlywood;
}

.mon-footer .item.social > a:hover {
    opacity:0.9;
}

.mon-footer .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    margin-bottom:0;
}

#id_social_media{
    width: 40%;
}
/* -------------------------------- Fin code CSS Footer -------------------------------------- */